# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3

# Flask & Web Files
/static/uploads/
/__pycache__
*.env
.env

# Virtual Environment
venv/
env/
virtualenv/

# VS Code & Editors
.vscode/
*.code-workspace
.idea/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db

# Logs and Databases
*.log
*.sql
*.sqlite

# Model files
*.pt
*.onnx

# Node / npm (if used)
node_modules/
package-lock.json

# Cache & Temp Files
*.tmp
*.temp
.cache
